*~
.DS_Store
.settings
.claude
CLAUDE.md
hypernomicon.code-workspace
.vscode/
sh.exe.stackdump
qodana.yaml
.classpath
.project
.idea
target
target-release
bin
pom2*.xml
local-resources/
*.py
*.bak
*.log
*.patch
*.iml
